body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    width: auto;
    height: auto;
    margin: 10px;
    border: 10px double darkgray;
}

h1{
    text-align: center;
    color: red;
    padding: 25px 0 25px 0;
    width: 500px;
    margin: 0 auto;
    border-bottom: 4px solid black;
    font-size: 30px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
}
article{
    width: 500px;
    margin: 25px auto 25px auto;
    padding: 25px 0 25px 10px;
    border: 1px solid grey;
}

ol{
    list-style: decimal;
}

ul{
    list-style: circle;
}
li{
    font-size: 20px;
    padding: 5px;
    margin-left: 50px;
}
aside{
    width: 40%;
    margin-left: 10px;
    display: inline-block;
    border: 3px dotted blue;
}

li.colchuck:hover .photo1{
    display: block;
}

li.lake22:hover .photo2{
    display: block;
}

li.dog:hover .photo3{
    display: block;
}

li.wallace:hover .photo4{
    display: block;
}

li.rattle:hover .photo5{
    display: block;
}

li.franklin:hover .photo6{
    display: block;
}

li.twin:hover .photo7{
    display: block;
}

li.poo:hover .photo8{
    display: block;
}

li.snow:hover .photo9{
    display: block;
}

li.moss:hover .photo10{
    display: block;
}

img[class*="photo"] {
    display: none;
}

img{
    width: 400px;
    display: inline-block;
}



